<main>
<%= form_for @show do |f| %>
<%= f.label :flyer_image %>
<%= f.text_field :flyer_img %><br>
<%= f.date_field(:starts_at_date) %><br>
<%= f.time_field(:starts_at_hour) %><br>


<%= f.submit %>

<% end %>
</main>
