<nav>
<!-- <ul>
  <li><%= link_to "last week", shows_lastweek_path%></li>
  <li><%= link_to "next week", shows_nextweek_path%></li>
</ul> -->
</nav>
<%#= date_paginate %>

<% @days_from_this_week.each do |day| %>

<div class="day">

  <h3>  <%= day.strftime('%A, %m/%d') %></h3>

<% @shows.each do |show| %>
<%#= show.date.strftime("%Y-%m-%d") %>
<% if day.strftime("%Y-%m-%d") == show.starts_at_date.strftime("%Y-%m-%d") %>
<span class="show">

<%= link_to show.starts_at_hour.strftime('%I:%M'), show_path(show) %>,
<%= link_to show.venue, show_path(show) %>,
<%= link_to show.cost, show_path(show) %>:

</span>
    <% @performances.each do |perf| %>
 <% if perf.show.id == show.id %>
   // <%= link_to perf.artist.name, "artists/#{perf.artist_id}" %>
   <% end %>
  <% end %>
  <br>
  <% end %>
  <% end %>

</div>
  <% end %>
  <h2><%= link_to "Add New Show", new_show_path %> // <%= link_to "Add an artist to a show", new_performance_path %>
  </h2>
  <!-- <h3><%= link_to "Disclaimer", disclaimer_path %></h3> -->
