<!DOCTYPE html>
<html>
  <head>
    <title>Showspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Shrikhand" rel="stylesheet">
  </head>
  <body>
    <header>

    <h1>Showspace!!</h1>
    <nav>
      <ul>
        <li><%= link_to "Current Artists", artists_path %></li>
        <li><%= link_to "Upcoming Shows", shows_path %></li>
        <!-- <li>Next Week</li> -->
      </ul>
    </nav>
  </header>
    <%= yield %>
    <footer>
    </footer>
  </body>

</html>
